@import "tailwindcss";

:root {

}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 991px;
  --breakpoint-xl: 1064px;
  --breakpoint-2xl: 1441px;
  --breakpoint-3xl: 1600px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: rgba(24, 24, 24, 1);
  --max-width-screen-xl: 1200px;
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus-within{
  outline: unset;
}