@import "tailwindcss";



@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 991px;
  --breakpoint-xl: 1064px;
  --breakpoint-2xl: 1441px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: rgba(24, 24, 24, 1);
  --max-width-screen-xl: 1200px;
}

@utility container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

input:focus-within{
  outline: unset;
}

/* Arabic Font - GE Dinar */



@font-face {
  font-family: 'GE ';
  src: url('/fonts/arabic/GE_DINAR_Font/GE_Dinar_Two_Light.otf') format('opentype');
 
  font-style: normal;
  font-display: swap;
}

/* English Font - Poppins */
@font-face {
  font-family: 'optima';
  src: url('/fonts/english/OPTIMA.TTF') format('truetype');
  
  font-style: normal;
  font-display: swap;
}
.scrollbar-hidden::-webkit-scrollbar{
  display: none;
}

.brand-linear, .brand-linear .swiper-wrapper{
  transition-timing-function: linear;
}
